<a href="https://colab.research.google.com/github/mitchell-jones/DS-Incubator-2020/blob/Kyle-%2F-Test/Machine%20Learning/Exploratory%20Analysis/ColabTest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Beginning Exploratory Analysis

In [0]:
# Import Packages
import pandas as pd
import seaborn as sns
import matplotlib as plt

In [0]:
# Read movie data to dataframe
movies = pd.read_csv('movies.csv')

In [0]:
movies.head()

In [0]:
movies.describe()

In [0]:
movies.describe(include='all')

In [0]:
movies.shape
# 46628 rows, 21 columns

(46628, 21)

In [0]:
# how many nulls per column

print('Nulls per Column')
for i in movies.columns:
  null_num = movies[i].isnull().sum()
  print('%s column has %s' % (i, null_num))

Nulls per Column
id column has 0
title column has 4
tagline column has 25845
description column has 995
genres column has 2524
keywords column has 14889
date column has 88
collection column has 42054
runtime column has 268
revenue column has 4
budget column has 0
director column has 917
cast column has 2491
production_companies column has 12282
production_countries column has 6496
popularity column has 4
average_vote column has 4
num_votes column has 4
language column has 11
imdb_id column has 17
poster_url column has 399

In [0]:
# how many zeroes per column

print('Zeroes Per Column')
for i in movies.columns:
  zero_num = movies[movies[i] == 0].shape[0]
  print('%s zeroes in %s' % (zero_num, i))

# Lots of Zeroes in Revenue & Budget

Zeroes Per Column
0 zeroes in id
0 zeroes in title
0 zeroes in tagline
0 zeroes in description
0 zeroes in genres
0 zeroes in keywords
0 zeroes in date
0 zeroes in collection
1627 zeroes in runtime
39087 zeroes in revenue
37575 zeroes in budget
0 zeroes in director
0 zeroes in cast
0 zeroes in production_companies
0 zeroes in production_countries
67 zeroes in popularity
3121 zeroes in average_vote
3021 zeroes in num_votes
0 zeroes in language
0 zeroes in imdb_id
0 zeroes in poster_url